/nbproject/private/
/TP3-03-BanqueBergeron-war/nbproject/private/
/TP3-03-BanqueBergeron-ejb/nbproject/private/
/TP3-03-BanqueBergeron-ejb/build/
/TP3-03-BanqueBergeron-ejb/dist/
/TP3-03-BanqueBergeron-war/build/
/build/
/TP3-03-BanqueBergeron-war/dist/
/dist/