
#top {
    position: relative;
    /*background-color: #036fab;*/
    /*background-Color:#cccccc;*/
    background-color:#FEFEE2;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 175px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    /*background-color: #dddddd;*/
    background-color:#FEFEE2;
    padding: 5px;
    margin-left: 195px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.rounded {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.shadowed {
    -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}